{% extends "base.html" %}

{% block page_content %}

  <br>
  <div class="ui container">
<!--
    <div class="ui grid" style="background: url({{ url_for('static', filename='img/NZ.jpg') }}); background-size: contain; background-repeat: no-repeat; background-position: center;">
-->
    <div class="ui centered grid">

      <div class="row">
        <div class="column">
          <img class="ui centered huge rounded image" src="{{ url_for('static', filename='img/NZ.jpg') }}">
        </div>
      </div>
      <div class="row">
        <div class="column">
          <p><h1 class="ui center aligned header">Craig Stanton's website</h1></p>
        </div>
      </div>

      <div class="row">
          <div class="ui text container">
            <h3 class="first">
              I am a self-taught developer who has a passion for learning about and experimenting with the latest technology.
              <br>
              <br>
              My languages of choice are Python and R alongside the front-end basics, but am starting to learn Javascript.
              <br>
              <br>
              This website was eniterly written by me using Python. It is deployed on Google Cloud Platform.
            </h3>
          </div>
      </div>

      <div class="row">
        <div class="ui content container">
          <a href="https://github.com/canadarmy" target="_blank">
            <i class="github big link black icon"></i>
          </a>
          <a href="https://www.linkedin.com/in/craig-stanton-a5132a42/" target="_blank">
            <i class="linkedin big link black icon"></i>
          </a>
        </div>

      </div>

    </div>
  </div>
<!--
  </div>
-->
{% endblock %}
