{% extends "base.html" %}

{% block page_content %}

  <br>
  <div class="ui container">

    <div class="ui centered grid">

      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <br>
        <br>
        <br>
        <p>
            {{ form.post_title.label }}<br>
            {{ form.post_title(size=32) }}
            {% for error in form.post_title.errors %}
            <span style="color: red;">[{{ error }}]
            {% endfor %}
        </p>
        <p>
            {{ form.post_subtitle.label }}<br>
            {{ form.post_subtitle(size=32) }}
            {% for error in form.post_subtitle.errors %}
            <span style="color: red;">[{{ error }}]
            {% endfor %}
        </p>
        <p>
            {{ form.author.label }}<br>
            {{ form.author(size=32) }}
            {% for error in form.author.errors %}
            <span style="color: red;">[{{ error }}]
            {% endfor %}
        </p>



          <p>
              {{ form.post_tags }}
              {% for error in form.post_tags.errors %}
              <span style="color: red;">[{{ error }}]
              {% endfor %}
          </p>

        <p>
            {{ form.content.label }}<br>
            {{ form.content(size=32) }}
            {% for error in form.content.errors %}
            <span style="color: red;">[{{ error }}]
            {% endfor %}
        </p>

        <p>{{ form.date_posted() }}</p>      

        <p>{{ form.save_draft() }} {{ form.save_draft.label }}</p>
        <p>{{ form.submit() }}</p>
      </form>

    </div>
  </div>

{% endblock %}
