{% extends "base.html" %}
  

{% block page_content %}
<div class="ui fixed menu">
  {% for component in site_components %}
  <div class="active item">
    <a href="{{ url_for(component.lower()) }}">{{ component }}</a>
  </div>
  {% endfor %}
  <div class="ui right menu"></div>
    <div class="ui transparent left icon input">
      <input type="text" placeholder="Search" />
      <i class="search icon"></i>
    </div>
      <a href="{{ url_for('logout') }}" class="item">Logout</a>
    <div class="item">Register</div>
</div>

    <div class="ui four column grid">
      <div class="row"></div>
      <div class="row">
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column">
          <a href="{{ url_for('new_post') }}">
            <button class="ui button">Create Post</button>
          </a>
        </div>
      </div>
      <div class="row"></div>
      <div class="row">
    </div>

  <div class="ui container">

    <div class="ui centered grid">
          <table class="ui tablet stackable table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Subtitle</th>
                <th>Author</th>
                <th>Tags</th>
                <th>Content</th>
                <th>Date</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              
              {% for post in posts %}
              <tr>
                <td>
                  {% if post.post_filename %}
                    <a href="{{ url_for('display_blog_post', post_filename=post.post_filename) }}">{{ post.post_title }}</a>
                  {% else %}
                    {{ post.post_title }}
                  {% endif %}
                </td>
                <td>{{ post.post_subtitle }}</td>
                <td>{{ post.author }}</td>
                <td>{{ post.post_tags }}</td>
                <td>{{ post.content | safe}}</td>
                <td>{{ post.date_posted }}</td>
                <td>
                    <a href="{{ url_for('edit', id=post.id) }}">Edit</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      
    </div>
  </div>

{% endblock %}
