<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Craig Stanton</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'semantic/dist/semantic.min.css') }}">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script type = "text/javascript" src="{{ url_for('static', filename = 'semantic/dist/semantic.min.js') }}"></script>
</head>

<body>
  <div class="ui fixed menu">
    {% for component in site_components %}
    <div class="active item">
      {{ component }}
    </div>
    {% endfor %}
    <div class="ui right menu"></div>
      <div class="ui transparent left icon input">
        <input type="text" placeholder="Search" />
        <i class="search icon"></i>
      </div>
      <div class="item">Login</div>
      <div class="item">Register</div>
  </div>
  <br>

  <br>
  <div class="ui container">
<!--
    <div class="ui grid" style="background: url({{ url_for('static', filename='img/NZ.jpg') }}); background-size: contain; background-repeat: no-repeat; background-position: center;">
-->
    <div class="ui centered grid">

      <div class="row">
        <div class="column">
          <img class="ui centered huge rounded image" src="{{ url_for('static', filename='img/NZ.jpg') }}">
        </div>
      </div>
      <div class="row">
        <div class="column">
          <p><h1 class="ui center aligned header">Welcome</h1></p>
        </div>
      </div>

      <div class="row">
          <div class="ui text container">
            <h3 class="first">{{ text }}</h3>
          </div>
      </div>

      <div class="row">
        <div class="ui content container">
          <a href="https://github.com/canadarmy" target="_blank">
            <i class="github big link black icon"></i>
          </a>
          <i class="linkedin big icon"></i>
        </div>

      </div>

    </div>
  </div>
<!--
  </div>
-->
</body>
</html>
