<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Craig Stanton</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'semantic/dist/semantic.min.css') }}">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script type = "text/javascript" src="{{ url_for('static', filename = 'semantic/dist/semantic.min.js') }}"></script>
</head>

<body>
  <div class="ui fixed menu">
    {% for component in site_components %}
    <div class="active item">
      {{ component }}
    </div>
    {% endfor %}
    <div class="ui right menu"></div>
      <div class="ui transparent left icon input">
        <input type="text" placeholder="Search" />
        <i class="search icon"></i>
      </div>
      <div class="item">Login</div>
      <div class="item">Register</div>
  </div>
  <br>

  <br>
  <div class="ui container">
<!--
    <div class="ui grid" style="background: url({{ url_for('static', filename='img/NZ.jpg') }}); background-size: contain; background-repeat: no-repeat; background-position: center;">
-->

      <div class="ui text container">
        <p><h1 class="ui dividing header">Welcome</h1></p>
        <br>
        <h3 class="first">{{ text }}</h3>
      </div>
      <br>
      <div class="ui text container">
        <ul>
          {% for component in site_components %}
          <li>
            {{ component }}
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="ui content container">
        <h3><i class="ca flag"></i></h3>
        <h3><i class="gb uk flag"></i></h3>
      </div>
    </div>
<!--
  </div>
-->
</body>
</html>
